@import "tailwindcss";

:root {
  --font-bonyadeKoodakK: "BonyadeKoodakK", sans-serif;
}

body {
  direction: rtl;
  font-family: var(--font-bonyadeKoodakK);
}

@theme {
  --color-primary: #ffcc00;
  --color-secondary: #fff3e5;
  --color-primary-irc-gray:#939298;
  --color-secondary-irc-gray: #efeff4;

}

@font-face {
  font-family: "BonyadeKoodakK";
  src: url("/BonyadeKoodakKoochak-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

